In [1]:
from bs4 import BeautifulSoup
import requests
req = requests.get('https://en.wikipedia.org/wiki/Main_Page')
Soup = BeautifulSoup(html.content)
titles = Soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List of header tags :', *titles, sep='\n\n')

NameError: name 'html' is not defined

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
headers={'Accept-Language':'en-US,en;q=0.5'}
request=requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc',headers=headers)
request1=requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt',headers=headers)
Soup=BeautifulSoup(request.content)
Soup1=BeautifulSoup(request1.content)
Soup.append(Soup1)
MoviesName=[]
Year=[]
Rating=[]
movies=Soup.find_all("div",class_='lister-item mode-advanced')
for m in movies:
    name=m.h3.a.text
    year=m.h3.find('span',class_='lister-item-year text-muted unbold').text
    rate=m.strong.text
    MoviesName.append(name)
    Year.append(year)
    Rating.append(rate)
Movies=pd.DataFrame({'Movie':MoviesName,'Year of Release':Year,'Rating':Rating},index=range(1,101))
Movies.head(20)

                                                Movie Year of Release Rating
1                            The Shawshank Redemption          (1994)    9.3
2                                       The Godfather          (1972)    9.2
3                                     The Dark Knight          (2008)    9.0
4       The Lord of the Rings: The Return of the King          (2003)    9.0
5                                    Schindler's List          (1993)    9.0
6                              The Godfather: Part II          (1974)    9.0
7                                        12 Angry Men          (1957)    9.0
8                                        Pulp Fiction          (1994)    8.9
9                   Everything Everywhere All at Once          (2022)    8.8
10                                          Inception          (2010)    8.8
11              The Lord of the Rings: The Two Towers          (2002)    8.8
12                                         Fight Club          (1999)    8.8
13  The Lord of the Rings: The Fellowship of the Ring          (2001)    8.8
14                                       Forrest Gump          (1994)    8.8
15                     The Good, the Bad and the Ugly          (1966)    8.8
16                                         The Matrix          (1999)    8.7
17                                         Goodfellas          (1990)    8.7
18     Star Wars: Episode V - The Empire Strikes Back          (1980)    8.7
19                    One Flew Over the Cuckoo's Nest          (1975)    8.7
20                                       Interstellar          (2014)    8.6

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
req=requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
Soup=BeautifulSoup(req.content)
movs=Soup.find_all('td',class_='titleColumn')
movs100=movs[0:100]
Mname=[]
Year=[]
for m in movs100:
    name=m.a.text
    year=m.span.text
    Mname.append(name)
    Year.append(year)
rate=Soup.find_all('td',class_='ratingColumn imdbRating')
rate100=rate[0:100]
IMDB=[]
for r in rate100:
    imdb=r.strong.text
    IMDB.append(imdb)
INDTOP=pd.DataFrame({'Name':Mname,'Year of Release':Year,'Rating':IMDB},index=range(1,101))
INDTOP

                        Name Year of Release Rating
1                   Jai Bhim          (2021)    8.4
2                 Anbe Sivam          (2003)    8.4
3                    Golmaal          (1979)    8.4
4                    Nayakan          (1987)    8.4
5           K.G.F: Chapter 2          (2022)    8.4
..                       ...             ...    ...
96    RRR (Rise Roar Revolt)          (2022)    8.0
97                    Masaan          (2015)    8.0
98            Dil Chahta Hai          (2001)    8.0
99                   Kahaani          (2012)    8.0
100  Maheshinte Prathikaaram          (2016)    8.0

[100 rows x 3 columns]

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
request=requests.get('https://bookpage.com/')
soup=BeautifulSoup(request.content)
dv=soup.find_all('div',class_='content')
Book={'Name':[],'Review':[],'Genre':[],'Author_Name':[]}
for i in dv:
    nam=i.find('h4',class_='italic').text.replace('\n','').replace(' ★ ','')
    rev=i.find('p',class_='excerpt').text.replace('\n','')
    Gen=i.find('p',class_='genre-links hidden-phone').text.replace('/',',').replace('\n','')
    Auth=i.find('p',class_='sans bold').text.replace('\n','').replace('Interview by','').replace('Feature by','').replace('Review by','')
    Book['Name'].append(nam)
    Book['Review'].append(rev)
    Book['Genre'].append(Gen)
    Book['Author_Name'].append(Auth)
Books=pd.DataFrame(Book,index=range(1,7))
Book

ValueError: Empty data passed with indices specified.

In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
info=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup=BeautifulSoup(info.content)
team=soup.find_all('tr',class_=('rankings-block__banner','table-body'))
top10=team[0:10]
data = {'Team_Name':[],'Matches': [],'Points': [],'Rating':[]}
for i in top10:
    pnt=i.find_all('td',recursive=True)
    data['Team_Name'].append(i.find('span',class_='u-hide-phablet').text)
    data['Matches'].append(pnt[2].text)
    data['Points'].append(pnt[3].text)
    data['Rating'].append(pnt[4].text.replace('\n',''))
MenTeam=pd.DataFrame(data,index=range(1,11))
MenTeam

,Team_Name,Matches,Points,Rating
1,New Zealand,20,"2,448",122 ...
2,England,32,"3,793",119
3,Australia,31,"3,475",112
4,India,38,"4,162",110
5,South Africa,31,"3,167",102
6,Pakistan,30,"2,921",97
7,Bangladesh,36,"3,350",93
8,Sri Lanka,35,"2,835",81
9,West Indies,36,"2,788",77
10,Afghanistan,23,"1,562",68

In [6]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
req=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup=BeautifulSoup(req.content)
player=soup.find_all('tr',class_=('rankings-block__banner','table-body'))
top10=player[0:10]
data={'Player_Name':[],'Team_Name': [], 'Rating':[]}
for i in Top10:
    bat=i.find_all('td',recursive=True)
    data['Player_Name'].append(bat[1].text.replace('\n',''))
    data['Team_Name'].append(bat[2].text.replace('\n',''))
    data['Rating'].append(bat[3].text.replace('\n',''))
ODIBATSMAN=pd.DataFrame(data,index=range(1,11))
ODIBATSMAN

NameError: name 'Top10' is not defined

In [7]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
req=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup=BeautifulSoup(req.content)
bowler=soup.find_all('tr',class_=('rankings-block__banner','table-body'))
Top10=bowler[0:10]
bdata={'Player_Name':[],'Team_Name': [], 'Rating':[]}
for i in Top10:
    bat=i.find_all('td',recursive=True)
    bdata['Player_Name'].append(bat[1].text.replace('\n',''))
    bdata['Team_Name'].append(bat[2].text.replace('\n',''))
    bdata['Rating'].append(bat[3].text.replace('\n',''))
ODIBOWL=pd.DataFrame(bdata,index=range(1,11))
ODIBOWL

         Player_Name               Team_Name Rating
1        Trent Boult  NZ                        726
2       Chris Woakes                     ENG    700
3     Josh Hazlewood                     AUS    698
4         Matt Henry                      NZ    683
5   Mujeeb Ur Rahman                     AFG    681
6     Jasprit Bumrah                     IND    679
7     Shaheen Afridi                     PAK    671
8       Mehedi Hasan                     BAN    661
9    Shakib Al Hasan                     BAN    657
10       Rashid Khan                     AFG    650

In [8]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
req=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup=BeautifulSoup(req.content)
team=soup.find_all('tr',class_=('rankings-block__banner','table-body'))
top10=team[0:10]
data = {'Team_Name':[],'Matches': [],'Points': [],'Rating':[]}

for i in top10:
    pnt=i.find_all('td',recursive=True)
    data['Team_Name'].append(i.find('span',class_='u-hide-phablet').text)
    data['Matches'].append(pnt[2].text)
    data['Points'].append(pnt[3].text)
    data['Rating'].append(pnt[4].text.strip().replace('\n',''))
WomenTeam=pd.DataFrame(data,index=range(1,11))
WomenTeam

       Team_Name Matches Points Rating
1      Australia      29  4,840    167
2   South Africa      28  3,504    125
3        England      30  3,533    118
4          India      29  2,878     99
5    New Zealand      31  3,030     98
6    West Indies      28  2,481     89
7     Bangladesh      12    936     78
8       Pakistan      26  1,752     67
9        Ireland       5    240     48
10     Sri Lanka       5    233     47

In [9]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
req=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup=BeautifulSoup(req.content)
player=soup.find_all('tr',class_=('rankings-block__banner','table-body'))

top10=player[0:10]
data={'Player_Name':[],'Team_Name': [], 'Rating':[]}

for i in top10:
    bat=i.find_all('td',recursive=True)
    data['Player_Name'].append(bat[1].text.replace('\n',''))
    data['Team_Name'].append(bat[2].text.replace('\n',''))
    data['Rating'].append(bat[3].text.replace('\n',''))
BATW=pd.DataFrame(data,index=range(1,11))  
BATW

          Player_Name                Team_Name Rating
1        Alyssa Healy  AUS                        785
2      Natalie Sciver                      ENG    750
3         Beth Mooney                      AUS    748
4     Laura Wolvaardt                       SA    722
5         Meg Lanning                      AUS    710
6      Rachael Haynes                      AUS    701
7         Mithali Raj                      IND    686
8   Amy Satterthwaite                       NZ    681
9     Smriti Mandhana                      IND    669
10     Tammy Beaumont                      ENG    659

In [10]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
req=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup=BeautifulSoup(req.content)
player=soup.find_all('tr',class_=('rankings-block__banner','table-body'))

top10=player[0:10]
data={'Player_Name':[],'Team_Name': [], 'Rating':[]}

for i in top10:
    bat=i.find_all('td',recursive=True)
    data['Player_Name'].append(bat[1].text.replace('\n',''))
    data['Team_Name'].append(bat[2].text.replace('\n',''))
    data['Rating'].append(bat[3].text.replace('\n',''))
W_All=pd.DataFrame(data,index=range(1,11))
W_All

         Player_Name                Team_Name Rating
1     Natalie Sciver  ENG                        393
2       Ellyse Perry                      AUS    374
3     Marizanne Kapp                       SA    359
4    Hayley Matthews                       WI    338
5        Amelia Kerr                       NZ    335
6   Ashleigh Gardner                      AUS    269
7      Deepti Sharma                      IND    249
8      Jess Jonassen                      AUS    245
9    Katherine Brunt                      ENG    221
10    Jhulan Goswami                      IND    217

In [11]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
req=requests.get('https://www.amazon.in/s?k=mobile+phones+under+20000&qid=1632977285&ref=sr_pg_1')
soup=BeautifulSoup(req.content)
PH=soup.find_all('div',class_='a-section a-spacing-none',recursion=False)

Name1={'Name':[],'Price':[],'Rating(out of 5 stars)':[],'Image_URL':[]}
for i in PH:
    nam=i.find_all('h2',class_='a-size-mini a-spacing-none a-color-base s-line-clamp-2',recursive=False)
    for p in nam:
        nm=p.a.find('span',class_='a-size-medium a-color-base a-text-normal').text.split('|',3)[0]
        Name1['Name'].append(nm)
    prc=i.find_all('div',class_='a-row a-size-base a-color-base')
    for j in prc:
        pr=j.find('span',class_='a-price-whole').text
        Name1['Price'].append(pr)
    Rtng=i.find_all('div',class_='a-row a-size-small')
    for e in Rtng:
        rt=e.find('span').text.replace("out of 5 stars ",'')
        Name1['Rating(out of 5 stars)'].append(rt)
    Img=i.find_all('div',class_='a-section aok-relative s-image-fixed-height')
    for L in Img:
        im=L.find('img',class_='s-image')
        Name1['Image_URL'].append(im.get('src'))
Mob=pd.DataFrame(Name1,index=range(1,17))
Mob

ValueError: Empty data passed with indices specified.

In [12]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
get=requests.get('https://forecast.weather.gov/MapClick.php?CityName=San+Francisco&state=CA&site=MTR&textField1=37.775&textField2=-122.418&e=0#.YVbtQJpBzb2')
soup=BeautifulSoup(get.content)
dt=soup.find_all('div',class_='col-sm-10 forecast-text')
cast=[]
for i in dt:
    cast.append(i.text)
det=cast[0:9]   

prd=soup.find_all('div',class_='col-sm-2 forecast-label')
per=[]
for p in prd:
    per.append(p.text)
perd=per[0:9]

tp=soup.find_all('div',class_='tombstone-container')
tmp=[]
srt=[]
for m in tp:
    cv=m.find('p',class_=('temp temp-low','temp temp-high')).text
    tmp.append(cv)
    sd=m.find('p',class_='short-desc').text
    srt.append(sd)
    
Weather=pd.DataFrame({},index=range(1,10))
Weather['Period']=perd
Weather['Short Description']=srt
Weather['Temperature']=tmp
Weather['Details']=det
Weather

,Period,Short Description,Temperature,Details
1,Today,Sunny andBreezy,High: 61 °F,"Sunny, with a high near 61. Breezy, with a wes..."
2,Tonight,Mostly Clearand Breezythen MostlyClear,Low: 48 °F,"Mostly clear, with a low around 48. Breezy, wi..."
3,Friday,Mostly Sunny,High: 66 °F,"Mostly sunny, with a high near 66. Light north..."
4,Friday Night,Partly Cloudy,Low: 52 °F,"Partly cloudy, with a low around 52. West nort..."
5,Saturday,Sunny thenSunny andBreezy,High: 67 °F,"Sunny, with a high near 67. Breezy, with a wes..."
6,Saturday Night,Mostly Clearand Breezythen MostlyClear,Low: 50 °F,"Mostly clear, with a low around 50. Breezy."
7,Sunday,Sunny,High: 67 °F,"Sunny, with a high near 67."
8,Sunday Night,Mostly Clear,Low: 51 °F,"Mostly clear, with a low around 51."
9,Monday,Mostly Sunny,High: 66 °F,"Mostly sunny, with a high near 66."

In [13]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
page=requests.get('https://internshala.com/fresher-jobs')
soup=BeautifulSoup(page.content)
sal=soup.find_all("div",class_='internship_other_details_container')
titles=soup.find_all("div",class_='heading_4_5 profile')
companies=soup.find_all("a",class_='link_display_like_text')
lc=soup.find_all('p',id='location_names')
job_titles=[]
for i in titles:
    job_titles.append(i.text.strip())
len(job_titles)
CTC=[]
CTC1=[]
for k in sal:
    S=k.find('div',class_='other_detail_item_row',recursive=False)
    CTC1.append(S)
    for q in CTC1:
        d=q.find('div',class_='item_body',id=False).text.replace('\n','').replace('                ','').replace('LPA','')
    CTC.append(d)
len(CTC)

company_names=[]
for i in companies:
    company_names.append(i.text.strip())
    
loc=[]
for t in lc:
    z=t.a.text
    loc.append(z)
    
jobs=pd.DataFrame({},index=range(1,41))
jobs['Job_Title']=job_titles
jobs['Company']=company_names
jobs['Location']=loc
jobs['Salary in LPA']=CTC
jobs

ValueError: Length of values (17) does not match length of index (40)

In [14]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
req=requests.get('https://www.nobroker.in/property/sale/bangalore/Whitefield?searchParam=W3sibGF0IjoxMi45Njk4MTk2LCJsb24iOjc3Ljc0OTk3MjEsInBsYWNlSWQiOiJDaElKZ193TlhmTVJyanNSLVJVQjJCS2x6ekEiLCJwbGFjZU5hbWUiOiJXaGl0ZWZpZWxkIn1d&radius=2.0&type=BHK2')
soup=BeautifulSoup(req.content)

nam=soup.find_all('h2',class_='heading-6 font-semi-bold nb__1AShY')
name=[]
for i in nam:
    q=i.find('span').text
    name.append(q)

l_c=soup.find_all('div',class_='nb__35Ol7')
addr=[]
for l in l_c:
    y=l.text.replace('Explore Nearby','')
    addr.append(y)

em=soup.find_all('div',class_='nb__17R6o')
epi=[]
ar=[]
for y in em:
    r=y.find('div',class_="font-semi-bold heading-6",id="roomType").text.replace('/Month','')
    epi.append(r)
    v=y.find('div',class_='font-semi-bold heading-6',recursive=True).text
    ar.append(v)


er=soup.find_all('div',class_='nb__2NPHR',id='minDeposit',itemprop='valueReference',itemtype=True)
C=[]
for n in er:
    c=n.span.text
    C.append(c)

House=pd.DataFrame({},index=range(1,11))
House['House_Title']=name
House['Address']=addr
House['EMI']=ep
House['Area']=ar
House['Price']=C

ValueError: Length of values (0) does not match length of index (10)